@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides
@import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

// Materialize
@import "~materialize-css/sass/materialize";


body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}
  
main {
    flex: 1 0 auto !important;
}